
<h1>
    Forms
</h1>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="#forms">Forms</a></li>
    <li role="presentation" class="active"><a href="">Fields</a></li>
</ul>
<table class="table table-striped">
    <thead>
        <label>Registration Form</label>
        <tr>
            <td>First Name</td>
            <td><input type="text" class="form-control"/></td>
            <td><a href="#"> <span class="glyphicon glyphicon-pencil"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-plus"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-remove"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-sort"></span> </a></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" class="form-control"/></td>
            <td><a href="#"> <span class="glyphicon glyphicon-pencil"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-plus"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-remove"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-sort"></span> </a></td>
        </tr>
        <tr>
            <td>Date of Birth</td>
            <td><input type="date" class="form-control"/></td>
            <td><a href="#"> <span class="glyphicon glyphicon-pencil"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-plus"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-remove"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-sort"></span> </a></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><select class="form-control">
                <option>Male</option>
                <option>Female</option>
            </select></td>
            <td><a href="#"> <span class="glyphicon glyphicon-pencil"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-plus"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-remove"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-sort"></span> </a></td>
        </tr>
        <tr>
            <td>Roles</td>
            <td><div class="checkbox">
            <label>
                <input type="checkbox"> Admin
            </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> Student
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox"> User
                </label>
            </div>
            </td>
            <td><a href="#"> <span class="glyphicon glyphicon-pencil"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-plus"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-remove"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-sort"></span> </a></td>
        </tr>
        <tr>
            <td>License Agreement &nbsp;</td>
            <td><input type="radio" name="gender"/> Yes
            <input type="radio" name="gender"/> No</td>
            <td><a href="#"> <span class="glyphicon glyphicon-pencil"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-plus"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-remove"></span> </a>
                <a href="#"> <span class="glyphicon glyphicon-sort"></span> </a></td>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<table>
    <thead>
    </thead>
    <tbody>
        <td><label>Add New Field</label></td>
        <tr>
            <td>
                <select class="form-control ">
                    <option>Single Line Text</option>
                    <option>Date</option>
                    <option>Dropdown</option>
                    <option>Checkboxes</option>
                    <option>Radio buttons</option>
                    <option>Paragraph Text Field</option>
                </select>
            </td>
            <td></td>
            <td>
                <a href="#"> <span class="glyphicon glyphicon-plus"></span> </a>
            </td>
        </tr>
    </tbody>
</table>
