<h1>
    Forms
</h1>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Forms</a></li>
    <li role="presentation"><a href="/fields">Fields</a></li>
</ul>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Form Name</th>
        <th>Actions</th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <td><input class="form-control" type="text" name="username" placeholder="Form Name"/></td>
        <td>
            <a href="#" class="btn btn-success">
                <scan class="glyphicon glyphicon-ok"></scan>
            </a>
            <a href="#" class="btn btn-primary">
                <scan class="glyphicon glyphicon-plus"></scan>
            </a>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>
            <a href="fields.view.html"></a>
            Registration Form</td>
        <td>
            <a href="#" class="btn btn-warning">
                <scan class="glyphicon glyphicon-pencil"></scan>
            </a>
            <a href="#" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
        </td>
    </tr>
    <tr>
        <td>Contact List</td>
        <td>
            <a href="#" class="btn btn-warning">
                <scan class="glyphicon glyphicon-pencil"></scan>
            </a>
            <a href="#" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
        </td>
    </tr>
    <tr>
        <td>To Do List</td>
        <td>
            <a href="#" class="btn btn-warning">
                <scan class="glyphicon glyphicon-pencil"></scan>
            </a>
            <a href="#" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
        </td>
    </tr>
    </tbody>
</table>
