<h1>
    Forms
</h1>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Forms</a></li>
    <li role="presentation"><a href="#fields">Fields</a></li>
</ul>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Form Name</th>
        <th>Actions</th>
        <th>&nbsp;</th>
    </tr>
    <tr>
        <td><input ng-model="addForm.title" class="form-control" type="text" name="formname" placeholder="Form Name"/></td>
        <td>
            <a ng-click="addForm(form)" class="btn btn-success">
                <scan class="glyphicon glyphicon-ok"></scan>
            </a>
            <a ng-click="updateForm(form)" class="btn btn-primary">
                <scan class="glyphicon glyphicon-plus"></scan>
            </a>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="form in userForms">
        <td>{{form.title}}</td>
        <td>
            <a ng-click="deleteForm(form._id, $index)" class="btn btn-warning">
                <scan class="glyphicon glyphicon-pencil"></scan>
            </a>
            <a ng-click="selectForm(form._id, $index)" class="btn btn-danger">
                <scan class="glyphicon glyphicon-remove"></scan>
            </a>
        </td>
    </tr>
    </tbody>
</table>
