<img src="https://wallpaperscraft.com/image/guy_suit_rush_running_town_cars_79875_2560x1024.jpg"
     style="width:804px;height:321px;">

<h2>
    {{product.productCategory}}
</h2>


<img ng-src={{product.productImageURL}} class="img-responsive col-sm-3" alt="Generic placeholder thumbnail">
<h3>{{product.productName}} <span class="text-muted">{{product.productPrice}}</span> </h3>
<h5>{{product.productColor}}</h5>
<select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
</select>
<select>
    <option>Small</option>
    <option>Medium</option>
    <option>Large</option>
    <option>Extra Large</option>
</select>
<a href="#/login"> <button type="submit" class="btn btn-primary">Add to cart</button></a>
<p></p>
<p> {{product.productDescription}}
</p>


<h3>Product Reviews</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Customer</th>
            <th>Comments</th>
            <th>Rating</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <td>
            </td>
            <td><input ng-model="newReview.name" class="form-control" type="text" name="customerName" placeholder="Name"/></td>
            <td><input ng-model="newReview.Comments" class="form-control" type="text" name="review" placeholder="Comments"/></td>
            <td><select ng-model="newReview.rating" class="form-control" type="text" name="rating">
                <option value=<"1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            </td>
            <td>
                <a ng-click="addReview(newReview)" class="btn btn-success">
                    <scan class="glyphicon glyphicon-plus"></scan>
                </a>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td colspan="100%" align="center"  ng-show="!reviews.length">No reviews yet!</td>
        </tr>

        <tr ng-repeat="review in reviews">
            <td>{{review.date}}</td>
            <td>{{review.name}}</td>
            <td>{{review.Comments}}</td>
            <td>{{review.rating}}</td>
        </tr>

        <tr>
            <td style="text-align: left">2/22/2016</td>
            <td>Alex</td>
            <td>This shirt is so comfortable!</td>
            <td>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star"></scan>
            </td>
        </tr>
        <tr>
            <td style="text-align: left">2/3/2016</td>
            <td>James</td>
            <td>This shirt does wonders to wick away sweat!</td>
            <td>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star-empty"></scan>
            </td>
        </tr>
        </tbody>
    </table>
</div>
