<img class="img-responsive" src="https://wallpaperscraft.com/image/guy_suit_rush_running_town_cars_79875_2560x1024.jpg"
     style="width:804px;height:321px;">

<h2>
    Your cart
</h2>

<div class="col-md-12 col-sm-12 placeholder" ng-repeat="product in products">
<img ng-src={{product.productImageURL}} class="img-responsive col-sm-3" alt="Generic placeholder thumbnail">
<h3>{{product.productName}} <span class="text-muted">{{product.productPrice}}</span> </h3>
<h5>{{product.productColor}}</h5>
<select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
</select>
<a ng-click="removeFromCart(product)" type="submit" class="btn btn-danger">Remove</a>
<p></p>
<p>{{product.productDescription}}</p>
</div>
