
<h1>FAQ</h1>

<h3>Can I return my shirt?
</h3>

<p>Unfortunately, your shirt is made-to-order and all sales are final.  We recommend you follow our fit guide and use a professional tailor to fill out our measurement form to ensure the proper fit.
</p>

<h3>Can I machine wash my shirt?
</h3>

<p>Yes, the materials are designed to be machined washed in cold.  Hang dry, do not use the drying machine.
</p>

<h3>Do you only offer shirts in white or blue?
</h3>

<p>Yes, currently we only offer blue or white shirts to streamline our production process and keep prices low.  Sign-up for our newsletter and look out for additional products in the future.
</p>