<a href="#/developer"
   class="pull-left btn btn-danger">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a href="#/developer/{{model.username}}/application/new" class="pull-right btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span>
</a>

<h2>Applications</h2>

<div ng-if="model.error"
     class="alert alert-danger"
     role="alert">
    {{model.error}}
</div>

<table class="table table-striped">
    <tr ng-repeat="application in model.applications">
        {{application.name}}
    </tr>
</table>