<a href="#/developer/{{model.username}}/application"
   class="pull-left btn btn-danger">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>

<h2>Edit Application</h2>

<div ng-if="model.error" class="alert alert-danger" role="alert">
    {{model.error}}
</div>

<input ng-model="model.application.name"
       class="form-control"
       placeholder="Name"/>

<input ng-model="model.application.description"
       class="form-control"
       placeholder="Description"/>

<button ng-click="model.removeApplication(model.application)"
        class="btn btn-danger btn-block">
    Delete
</button>