<img src="https://wallpaperscraft.com/image/guy_suit_rush_running_town_cars_79875_2560x1024.jpg"
     style="width:804px;height:321px;">

<h2>
    Our Story
</h2>


<p>Whether it’s from wearing a full-suit in scorching summer heat, running around the office,
    or simply stress, sweaty, sticky, and disheveled dress shirts are all too common in the corporate world.
    For most of us, anti-perspirant deodorant and undershirts aren’t a full solution.
    238Hem sells custom men’s dress shirts at off-the-rack prices through an online presence, built-to-order process,
    and small marketing budget.  238Hem offers custom designs made from specialty performance materials
    that absorb sweat, reduce odors, and keep you cool. </p>
