<a href="#/developer/{{model.username}}/application/{{model.applicationId}}/page"
   class="pull-left btn btn-danger">
    <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a href="#/developer/{{model.username}}/application/{{model.applicationId}}/page/{{model.pageId}}/choose-widget"
   class="pull-right btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span>
</a>

<h2>Widgets</h2>

<div jga-sortable>
    <div ng-repeat="widget in model.widgets"
         class="row jga-highlight-on-hover">
        <div ng-switch="widget.widgetType"
             class="jga-widget col-xs-11">
            <div ng-switch-when="HEADER">
                <h1 ng-if="widget.header.size===1">
                    {{widget.text}}
                </h1>
                <h2 ng-if="!widget.header.size || widget.header.size===2">
                    {{widget.text}}
                </h2>
                <h3 ng-if="widget.header.size===3">
                    {{widget.text}}
                </h3>
                <h4 ng-if="widget.header.size===4">
                    {{widget.text}}
                </h4>
                <h5 ng-if="widget.header.size===5">
                    {{widget.text}}
                </h5>
                <h6 ng-if="widget.header.size===6">
                    {{widget.text}}
                </h6>
            </div>
            <div ng-switch-when="LABEL">
                <label>
                    {{widget.text}}
                </label>
            </div>
            <div ng-switch-when="TEXT_INPUT">
                <input ng-if="!widget.rows || widget.rows===1"
                       name="{{widget.name}}"
                       id="{{widget.id}}"
                       value="{{widget.text}}"
                       placeholder="{{widget.placeholder}}"
                       class="form-control"/>
                <textarea ng-if="widget.rows > 1"
                       name="{{widget.name}}"
                       rows="{{widget.rows}}"
                       id="{{widget.id}}"
                       value="{{widget.text}}"
                       placeholder="{{widget.placeholder}}"
                       class="form-control"></textarea>
            </div>
            <div ng-switch-when="BUTTON">
                <a class="btn btn-default btn-block">
                    {{widget.text}}
                </a>
            </div>
            <div ng-switch-when="LINK">
                <a>
                    {{widget.text}}
                </a>
            </div>
        </div>
        <div class="col-xs-1 jga-nowrap">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
    </div>
</div>