<a href="#/developer"
   class="pull-left btn btn-danger">
   <span class="glyphicon glyphicon-chevron-left"></span>
</a>

<h2>Edit Developer</h2>

<div ng-if="model.error" class="alert alert-success" role="alert">
   {{model.error}}
</div>

<input ng-model="model.developer.username"
       class="form-control"
       placeholder="username"/>

<input ng-model="model.developer.email"
       class="form-control"
       placeholder="email"/>

<input ng-model="model.developer.firstName"
       class="form-control"
       placeholder="First Name"/>

<input ng-model="model.developer.lastName"
       class="form-control"
       placeholder="Last Name"/>
