<img src="https://wallpaperscraft.com/image/guy_suit_rush_running_town_cars_79875_2560x1024.jpg"
     style="width:804px;height:321px;">

<h2>
    Performance Dress Shirts
</h2>


<img src="https://cdn.shopify.com/s/files/1/0309/2321/products/Product-Photos_0016_Apollo-6_large.png?v=1457642858" class="img-responsive col-sm-3" alt="Generic placeholder thumbnail">
<h4>Performance Stretch <span class="text-muted">$99</span> </h4>
<h5>Blue</h5>
<select>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
</select>
<select>
    <option>Small</option>
    <option>Medium</option>
    <option>Large</option>
    <option>Extra Large</option>
</select>
<button type="submit" class="btn btn-primary">Add to cart</button>
<p></p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris, malesuada quis ornare accumsan, blandit sed diam.</p>


<h3>Product Reviews</h3>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Customer</th>
            <th>Comments</th>
            <th>Rating</th>
            <th>&nbsp;</th>
        </tr>
        <tr>
            <td><input class="form-control" type="date" name="startDate" style="text-align: left"/></td>
            <td><input class="form-control" type="text" name="customerName" placeholder="Name"/></td>
            <td><input class="form-control" type="text" name="review" placeholder="Comments"/></td>
            <td><select class="form-control" type="text" name="rating">
                <option value=<"1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            </td>
            <td><scan class="glyphicon glyphicon-ok"></scan></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td style="text-align: left">3/15/2016</td>
            <td>Alex</td>
            <td>This shirt is so comfortable!</td>
            <td>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star"></scan>
            </td>
        </tr>
        <tr>
            <td style="text-align: left">3/7/2016</td>
            <td>James</td>
            <td>This shirt does wonders to wick away sweat!</td>
            <td>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star"></scan>
                <scan class="glyphicon glyphicon-star-empty"></scan>
            </td>
        </tr>
        </tbody>
    </table>
</div>
