<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#our_story"><img style="max-width:100px; margin-top: -7px;" src="/project/client/views/header/logo.png"></a>
</div>
<div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right" data-toggle="collapse">
        <li ng-class="{'active': $location.path() == '/register'}" ng-show="!currentUser"><a href="#/register">Register</a></li>
        <li ng-class="{'active': $location.path() == '/login'}" ng-show="!currentUser"><a href="#login">Login</a></li>
        <li ng-class="{'active': $location.path() == '/profile'}" ng-show="currentUser"><a href="#profile">{{currentUser.username}}</a></li>
        <li class="visible-xs" ng-class="{'active': $location.path() == '/cart'}" ng-show="currentUser"><a href="#cart">Cart</a></li>
        <li ng-class="{'active': $location.path() == '/admin'}" ng-show="currentUser && currentUser.role =='admin'"><a href="#/admin">Admin</a></li>
        <li class="visible-xs" ng-class="{'active': $location.path() == '/' || $location.path() == '/our_story'}"><a href="#/our_story">Our Story</a></li>
        <li class="visible-xs" ng-class="{'active': $location.path() == '/' || $location.path() == '/dress_shirts'}"><a href="#/dress_shirts">Performance Dress Shirts</a></li>
        <li class="visible-xs" ng-class="{'active': $location.path() == '/' || $location.path() == '/sale'}"><a href="#/sale">Sale</a></li>
        <li class="visible-xs" ng-class="{'active': $location.path() == '/' || $location.path() == '/faq'}"><a href="#/faq">FAQ</a></li>
        <li ng-show="currentUser"><a ng-click="logout()" href="#/home">Logout</a></li>

    </ul>

    <!-- commenting out the search bar-->
    <!-- <form class="navbar-form navbar-right">
        <input type="text" class="form-control" placeholder="Search...">
    </form> -->
</div>
