<ul class="nav nav-sidebar">
    <li ng-class="{'active': $location.path() == '/' || $location.path() == '/our_story'}"><a href="#/our_story">Our Story</a></li>
    <li ng-class="{'active': $location.path() == '/' || $location.path() == '/home'}"><a href="#/dress_shirts">Performance Dress Shirts</a></li>
    <li ng-class="{'active': $location.path() == '/' || $location.path() == '/home'}"><a href="#/sale">Sale</a></li>
    <li ng-class="{'active': $location.path() == '/admin'}" ng-show="currentUser && currentUser.roles.indexOf('admin') >= 0"><a href="#/admin">Admin</a></li>
    <li ng-class="{'active': $location.path() == '/forms'}"ng-show="currentUser"><a href="#/wishlist">Wishlist</a></li>
</ul>
